*.gradle
.gradle/
build/
/AccesoADatos/2do/Practicas/HibernateAD/target/
/AccesoADatos/2do/Practicas/2DAM_HibernateAD_jar_1.0-SNAPSHOT/target/
/AccesoADatos/2do/Practicas/HibernateAD_p2/target/
/AccesoADatos/2do/Practicas/HibernateAD_p3/target/
/AccesoADatos/2do/Practicas/HibernateAD_p4/target/